[Unit]
Description=ws-epro

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/local/bin/ws-epro -salome -listen :80 -ssh 127.0.0.1:22 -vpn 127.0.0.1:1194 -v2ray 127.0.0.1:8888 -psi 127.0.0.1:1443 -default 127.0.0.1:7777 -f /usr/local/etc/ws-epro/ws.yml
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
